<html>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
			<div>
				<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
					<ul class="nav navbar-nav">
						<li><a class="navbar-brand" href="/">SM Caen</a></li>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
						<li><a href="/call_api">Get Tweets</a></li>
					</ul>
				</nav>
			</div>
			<br/>
			<div class="container">
				<div class="span12 jumbotron">
					<h2>Project: “Social Media Sentiment Monitor” [about SM Caen]</h2>

					<h3>Description:</h3>
					<p class="lead">The project consists of two (sub-)tasks. In a first step, social Web contents about
					SM Caen need to collected/crawled. These contents (min 1.000 documents per
					match day) should cover at least three matches and should be, e.g., acquired from
					tweets containing an associated hashtag (#). For further analytics, the contents
					should be parsed and the “meaningful” text extracted in order to “Identify” the
					overall sentiment (resp. sentiments in different sub-communities).
					In a second step, a Web-based search interface needs to be developed. This
					interface should at least support temporal search and analytics for three match
					days (before and after). The analytics module should to this end be capable of
					visualizing the overall sentiment and/or retrieving the relevant documents, terms
					and/or entities associated with positive/negative sentiments. Enhancements
					include but are not limited to the identification of the most important entities,
					linking and/or incorporating match statistics as well trend analytics.</p>

					<h3>Specification:</h3>
					<p class="lead">The software you are supposed to develop should be deployed on the Web as a
					“Web search engine”. The interface needs to be productive (fast, usable and
					“appealing”). The minimum functionality specified above needs to be available,
					while additional “features” are a surplus. The choice of software is up to you, but
					if third party software/libraries is/are used, it must be open-source.</p>

					<h3>Links </h3>

					<a href="https://gitlab.com/dnr2i/social_media_sentiment_monitor">Git Lab</a><br>
					<a href="https://spaniol.users.greyc.fr/teaching.html">Teaching</a>

				</div>
			</div>
		</div>
	</body>
</html>
